<h1>Palindrome</h1>
<form action="/palindrome">
  <div class="form-group">
    <label for="word">Type in the word you would like to check</label>
    <input id="word" type="text" name="word" class="form-control">
  </div>
  <button type="submit" name="button" class="btn btn-success">Submit!</button>
</form>
